* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}
/* Burger Menu Icon Hidden by Default */
.burger {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

/* Show Burger Menu Icon on Smaller Screens */
@media (max-width: 768px) {
  .top-nav {
    display: none; /* Hide Navbar Links */
  }
  .burger {
    display: block;
  }
  .burger.active + .top-nav {
    display: flex;
    flex-direction: column;
  }
  .home-row {
    flex-direction: column-reverse !important;
    align-items: center;
  }
  #home .col-6 {
    margin-bottom: 20px;
  }
  .navcol-6{
    width: 89% !important;
    align-items: flex-start !important;
  } 
  .home-still{
    margin-top: 20px;
  }
  .home-still p{
    font-size: 20px !important;
  }
  .navcol-6 {
    margin: 20px 0 !important; 
  }
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
:root {
    --teal: #4a9c99;
    --kahki: #d8663a;
    --emkhaki: #f9e8db;
    --jigar: #601a09;
    --saru: #f8da49;
    --emteal: #d9eeeb;
}


/* flex box */

.rowb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    padding: 0 8%;
}

.jbet {
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.alg-center {
    align-items: center;
}


/* margin and padding */

.m-5 {
    margin: 50px;
}

.me-5 {
    margin-right: 50px;
}

.ms-5 {
    margin-left: 50px;
}

.mb-5 {
    margin-bottom: 50px;
}

.mt-5 {
    margin-top: 50px;
}

.p-5 {
    padding: 50px;
}

.pe-5 {
    padding-right: 50px;
}

.ps-5 {
    padding-left: 50px;
}

.pb-5 {
    padding-bottom: 50px;
}

.pt-5 {
    padding-top: 50px;
}


/* navbar */

nav {
    padding: 15px 0;
    box-shadow: 0 5px 15px 0 #0000003f;
}

nav ul {
    list-style-type: none;
}

ul li {
    font: bold;
    margin: 0 20px;
}

nav button {
    padding: 13px 30px;
    border: none;
    color: #fff;
    background: linear-gradient(to right, #d8663a, #f8da49);
    border-radius: 200px;
}


/* home */

#home {
    padding: 80px 0;
}

.home-still {
    color: #fff;
    display: inline-block;
    padding: 16px 24px;
    background: linear-gradient(to right, #d8663a, #f8da49);
    border-radius: 10px;
}

.home-still p {
    letter-spacing: 5px;
    font-size: 28px;
    font-weight: bold;
}

.fcol {
    flex-direction: column;
    align-items: flex-start;
}

.navcol-6 {
    width: 60%;
    justify-content: space-between;
}


/* about */

.title {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

#about {
    background-color: #f4f9f8;
    padding: 80px 0;
}

.cards {
    margin-top: 80px;
}

.card-top {
    border-radius: 10px 10px 0 0;
    padding: 13px;
    background-color: var(--teal);
    text-align: center;
    color: #fff;
}

.card {
    box-shadow: 0 0 10px 0 #00000055;
    width: 30%;
    height: 360px;
    border-radius: 10px;
}

.card ul {
    padding: 30px 20px;
}

.card ul li {
    font-weight: bold;
    margin: 10px;
}


/* info */

#info {
    padding: 80px 0;
}

.shadow {
    box-shadow: 0 0 10px 0 #00000055;
    border-radius: 5px;
}

.top {
    background-color: var(--kahki);
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.top .num {
    padding-top: 3px;
    text-align: center;
    background-color: var(--emkhaki);
    color: var(--kahki);
    width: 60px;
    height: 40px;
    font-size: 30px;
    border-radius: 5px;
    font-weight: bold;
}

.big .names,
.chart-boxes .names {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}

.text {
    padding: 60px 30px;
}

.text-left {
    width: 50%;
}

.text-left p {
    font-weight: bold;
    font-size: 18px;
}

.text-right table {
    border-collapse: collapse;
    border: solid #d9d9d9;
}

.text-right th,
.text-right td {
    padding: 20px 35px;
    border: solid #d9d9d9;
    text-align: left;
}

.text-right th {
    background-color: #f6f6f6;
}

.chart {
    height: 190px;
    flex-basis: 30%;
}

.chart>p {
    padding: 20px;
    font-weight: bold;
}

.tar-card {
    margin-top: 50px;
    border: 3px solid var(--teal);
    border-radius: 10px;
    width: 48%;
    padding: 10px;
}

.tar-box {
    flex-wrap: wrap;
}

.tar-top {
    background-color: var(--teal);
    border-radius: 10px;
}

.title-sm {
    padding: 10px 0;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.title-sm span {
    color: var(--jigar);
}

.circler {
    justify-content: center;
    align-items: flex-end;
}

.circler .list {
    width: 160px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.list-tar-top {
    height: 20%;
    background-color: var(--jigar);
    color: #fff;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.list-tar-bottom {
    height: 80%;
    background-color: var(--teal);
    color: #fff;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.list-tar-bottom p {
    padding: 25px;
    padding-top: 50px;
    font-weight: bold;
    font-size: 18px;
}

.list-tar-top p {
    font-size: 18px;
    padding-top: 8px;
    font-weight: bold;
}

.circler .icon {
    margin: 0 50px;
}


/* anons */

.anons2 {
    margin: 0 auto !important;
}

#anons {
    background: url(./assets/rasm.png) no-repeat center center/ cover;
    height: 365px;
    margin: 80px auto;
    width: 99% !important;
    border-radius: 10px;
}

.anons-text {
    color: #fff;
    justify-content: center;
}

.line1,
.line2 {
    width: 4px;
    height: 45px;
    background-color: #fff;
    border-radius: 5px;
}

.yellow-text {
    background-color: var(--saru);
    padding: 8px 25px;
    border-radius: 5px;
    color: var(--kahki);
}

.line1 {
    transform: rotate(-25deg);
    margin-right: 50px;
}

.line2 {
    transform: rotate(25deg);
    margin-left: 30px;
}

.anons-text2 {
    color: var(--kahki);
    border-radius: 10px;
    padding: 20px 0;
    width: 45%;
    margin: auto;
    background-color: #fff;
}


/* categories */

.categories {
    margin: 80px 0;
}

.cards1 {
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(278px));
}

.cards1 .text1 p {
    padding: 20px;
    font-weight: bold;
}

.cards1 .top p {
    margin-left: 10px;
}

.cat-img {
    width: 50%;
    object-fit: contain;
}


/* portfolio */

#portfolio {
    padding: 80px 0;
    background-color: #f4f9f8;
}

.idish {
    width: 100%;
}

.anon {
    width: 24%;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid var(--teal);
}

.anon-text p {
    margin: 13px 0;
}


/* price */

.price-table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    margin: 80px 0;
}

.price-table td,
.price-table th {
    width: 300px;
    padding: 30px 0;
    border: 3px solid var(--kahki);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.price-table th {
    background-color: #e2893f;
}

.prices {
    gap: 40px 0;
}

.price-icon {
    font-size: 35px;
}

.price-card {
    flex-basis: 28%;
    border: 3px solid var(--kahki);
    border-radius: 10px;
    height: 122px;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    font-size: 20px;
}


/* crazy */

#crazy {
    background: #f4f9f8;
}

.table-container {
    height: 73vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
}

.c-table {
    height: 100%;
    border-collapse: collapse;
    width: 79%;
    background-color: #fff;
    border-radius: 5px;
}

.c-table th,
.c-table td {
    width: 150px;
    text-align: center;
}

.c-table th {
    background-color: #2d837b;
    color: white;
    padding: 15px 0;
}

.c-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.c-table tr td:first-child {
    background-color: var(--emteal);
    color: var(--teal);
    font-weight: bold;
    padding: 30px 0;
    border: 3px solid #fff;
    border-right: none;
}

.c-table td {
    border: 3px solid #d9d9d9;
}

.side-panel {
    width: 20%;
    background-color: #2d837b;
    border-radius: 5px;
    color: white;
    text-align: center;
    height: 103%;
    margin-top: -10px;
}

.side-img {
    height: 53px;
    border: solid;
}

.side-panel .pricing {
    color: #fff;
    border-bottom: 5px solid #fff;
    font-weight: bold;
    height: 84px;
}

.side-bor {
    border-radius: 5px;
    margin: 10px;
    height: 100%;
    border: 3px solid #fff;
}

.side-bor div {
    width: 100%;
    text-align: center;
}

.th-none {
    background-color: #f4f9f8 !important;
    border: none;
}

.th-bor {
    border: solid;
}


/* timeline */

.time-left {
    text-align: center;
    margin-top: 20px;
}

#timeline {
    width: 100%;
    padding: 0 10px;
    transition: all 0.4s ease;
}

#timeline .timeline-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#timeline .timeline-item .timeline-icon {
    margin-top: 10px;
    background: #d8663a;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    overflow: hidden;
    border-radius: 50%;
}

#timeline .timeline-item .timeline-icon svg {
    position: relative;
}

#timeline .timeline-item .timeline-content {
    margin-left: 30px;
    flex-grow: 1;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.timeline-content h2 {
    margin-bottom: 8px;
}

.timeline-content>p {
    padding: 20px;
    border: 3px solid #d8663a;
    border-radius: 5px;
}

.line-g {
    width: 3px;
    height: 50px;
    background-color: var(--kahki);
    margin-left: 30px;
    margin-top: 20px;
}


/* news */

#news {
    padding: 80px 0;
    background: #f4f9f8;
}

.bg-btn {
    background: url(./assets/imagebtn.png) no-repeat center center / cover;
    width: 150px;
    height: 40px;
    border: 6px solid var(--teal);
    border-radius: 10px;
    margin: 15px 0;
}

.new-card {
    width: 30%;
    padding: 10px;
}

#news2 {
    padding: 80px 0;
}


/* form */

.inp-div50 {
    width: 49%;
}

.inp-div50 input {
    width: 100%;
    background-color: #f6f6f6;
    height: 56px;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    margin: 20px 0;
}

#form {
    margin: 80px 0 0 0;
    padding: 80px 0;
    background: #fcf5f0;
}

#form label {
    margin-left: 10px;
    font-weight: bold;
}

.inp-div100 {
    margin-top: 30px;
    width: 100%;
}

.inp-div100 textarea {
    margin-top: 20px;
    background-color: #f6f6f6;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    width: 100%;
    height: 150px;
    min-width: 100%;
    min-height: 150px;
}

.form-text {
    font-weight: bold;
}

.form-btn {
    background-color: var(--kahki);
    padding: 15px 80px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    margin-top: 50px;
    float: right;
}

.form-p {
    margin: 15px 0;
}


/* footer */

footer {
    color: white;
    padding: 80px 0;
    background: var(--kahki);
}

.footer {
    align-items: flex-start;
}

.foot-navs {
    margin-top: 30px;
}

.footer a {
    margin: 10px 5px;
    color: var(--kahki);
}